<% if current_user %>
<div class="jumbotron">
 <h1>Blocitoff</h1>
 <p>Create a self destructing to-do list.</p>
 <%= link_to "Todo List", todos_path, class:'btn btn-primary btn-large' %>
</div>
<% else %>
<div class="jumbotron center">
  <h1>Blocitoff</h1>
  <p>Create a self destructing to-do list.</p>
  <%= link_to "Sign Up", new_user_registration_path, class:'btn btn-primary btn-large' %> Or
  <%= link_to "Sign In", new_user_session_path, class:'btn btn-primary btn-large' %>
</div>
<% end %>
