
<h1 class="todo">My Todo List</h1>
<center>
<div class="jumbotron", align=center>
  <table class= "table table-hover" align="center">
    <thead>
      <tr>
        <th class="col-sm-2 text-center"> Item <span></span></th>
        <th class="col-sm-1 text-center"> Days remaining <span></span></th>
        <th class="col-sm-1 text-center"> Complete <span></span></th>
        <tr/>
      </thead>
      <% @todos.each do |todo| %>
      <tbody>
        <tr>
          <td><%= todo.description %></td>
          <td class= "text-center"><%= todo.days_left %></td>
          <td class="text-center"><%= link_to "", todo, method: :delete, class: 'glyphicon glyphicon-ok' %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
  <%= link_to "Create New Item", new_todo_path, class:'btn btn-primary btn-large' %>
</div>
</center>
