@import "bootstrap";
@import "materialize";

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
}

.jumbotron {
  background-image: url("paradise.png");
  color: #fff;
  text-align: center;
  margin-top: 50px;
  width: 75%;
  float: center;
}

.todo {
  text-align: center;
}

body {
  background-color: #9AC2A3;
  width: 100%;
}

footer.page-footer {
  color: #fff;
  padding-bottom: 10px;
  margin-top: 75px;
}
