@import "bootstrap";
@import "materialize";

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
}

.jumbotron {
  text-align: center;
  margin-top: 50px;
  width: 75%;
  float: center;
}

.todo {
  text-align: center;
}

body {
  background-color: #9AC2A3;
  width: 100%;
}
